:root {
    // FONTS-SIZE
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
    --font-size-xlarge: 20px;

    //COLORS DARK
    --dt-bg-color-primary: #221f2a;

    --dt-font-color-primary: #ded6f2;
    --dt-color-title: #ded6f2;

    --dt-bg-button: #413c51;

    //COLORS LIGHT
    --lt-bg-color-primary: #ede8fb;
    --lt-font-color-primary: #221f2a;

    --lt-colot-title: #221f2a;

    --lt-bg-button: #413c51;
    --lt-color-button-text: #ded6f2;
}
